
@{
    ViewBag.Title = "Tskills";
}

<h2>Technical skills</h2>

@using (Html.BeginForm("Submitdata", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div>
        <table>

            <tr>
                <td><h3>Source Versioning-TFS</h3></td>
                <td> <input type="radio" name="rating" value="Outstanding" checked>Outstanding<br>
                     <input type="radio" name="rating" value="Above Expectation"> Above Expectation<br>
                     <input type="radio" name="rating" value="Meets Expectation">Meets Expectation<br>
                     <input type="radio" name="rating" value="Needs Improvement">Needs Improvement<br>
                    <input type="radio" name="rating" value="Unsatisfactory">Unsatisfactory<br><br><br>
                </td>
            </tr>
           
            <tr>
                <td><h3>Source Versioning-TFS</h3></td>
                <td>
                    <input type="radio" name="rating" value="Outstanding" checked>Outstanding<br>
                    <input type="radio" name="rating" value="Above Expectation"> Above Expectation<br>
                    <input type="radio" name="rating" value="Meets Expectation">Meets Expectation<br>
                    <input type="radio" name="rating" value="Needs Improvement">Needs Improvement<br>
                    <input type="radio" name="rating" value="Unsatisfactory">Unsatisfactory<br><br><br>
                </td>
            </tr>
            <tr>
                <td><h3>Source Versioning-GIT</h3></td>
                <td>
                    <input type="radio" name="rating" value="Outstanding" checked>Outstanding<br>
                    <input type="radio" name="rating" value="Above Expectation"> Above Expectation<br>
                    <input type="radio" name="rating" value="Meets Expectation">Meets Expectation<br>
                    <input type="radio" name="rating" value="Needs Improvement">Needs Improvement<br>
                    <input type="radio" name="rating" value="Unsatisfactory">Unsatisfactory<br><br><br>
                </td>
            </tr>
            <tr>
                <td><h3>C#</h3></td>
                <td>
                    <input type="radio" name="rating" value="Outstanding" checked>Outstanding<br>
                    <input type="radio" name="rating" value="Above Expectation"> Above Expectation<br>
                    <input type="radio" name="rating" value="Meets Expectation">Meets Expectation<br>
                    <input type="radio" name="rating" value="Needs Improvement">Needs Improvement<br>
                    <input type="radio" name="rating" value="Unsatisfactory">Unsatisfactory<br><br><br>
                </td>
            </tr>
            <tr>
                <td><h3>ASP.NET core</h3></td>
                <td>
                    <input type="radio" name="rating" value="Outstanding" checked>Outstanding<br>
                    <input type="radio" name="rating" value="Above Expectation"> Above Expectation<br>
                    <input type="radio" name="rating" value="Meets Expectation">Meets Expectation<br>
                    <input type="radio" name="rating" value="Needs Improvement">Needs Improvement<br>
                    <input type="radio" name="rating" value="Unsatisfactory">Unsatisfactory<br><br><br>
                </td>
            </tr>
            <tr>
                <td><h3>Ruby</h3></td>
                <td>
                    <input type="radio" name="rating" value="Outstanding" checked>Outstanding<br>
                    <input type="radio" name="rating" value="Above Expectation"> Above Expectation<br>
                    <input type="radio" name="rating" value="Meets Expectation">Meets Expectation<br>
                    <input type="radio" name="rating" value="Needs Improvement">Needs Improvement<br>
                    <input type="radio" name="rating" value="Unsatisfactory">Unsatisfactory<br><br><br>
                </td>
            </tr>
            <tr>
            <td><h3>Angular Js</h3></td>
                <td>
                    <input type="radio" name="rating" value="Outstanding" checked>Outstanding<br>
                    <input type="radio" name="rating" value="Above Expectation"> Above Expectation<br>
                    <input type="radio" name="rating" value="Meets Expectation">Meets Expectation<br>
                    <input type="radio" name="rating" value="Needs Improvement">Needs Improvement<br>
                    <input type="radio" name="rating" value="Unsatisfactory">Unsatisfactory<br><br>
                </td>
            </tr>
          
        </table>

        <input type="submit" class="btn btn-lg" value="Save" />
    </div>
}

@functions{
    public void GetSomeString()
    {
        Html.RadioButton(name: "rating", value: "Outstanding");
           }
}